main {
    min-height: 100vh;
    background-image: url(https://storage.googleapis.com/webdesignledger.pub.network/LaT/edd/2016/02/tan-antique-vintage-paper-texture-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}