/* Font - HandWritten */
@import url("https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap");
header {
  background-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.479));
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  padding: 0 2.5%;
  position: absolute;
}
header .headerLinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  width: 50%;
}
header .headerLinks a {
  margin: 0 20px;
  text-decoration: none;
  font-family: "Kolker Brush", cursive;
  color: black;
  font-size: 3.5rem;
}

.menu-icon {
  display: none;
}

.headerLogo {
  width: 135px;
  height: 135px;
}

@media (max-width: 600px) {
  header .headerLinks a {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}
.menu-icon {
  z-index: 101;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 10px;
  border-radius: 15px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
.menu-icon .menu-icon__cheeckbox {
  display: block;
  position: relative;
  cursor: pointer;
  z-index: 2;
  -webkit-touch-callout: none;
  position: absolute;
  opacity: 0;
}
.menu-icon div {
  margin: auto;
  position: absolute;
  width: 22px;
  height: 12px;
}
.menu-icon span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}
.menu-icon span:first-of-type {
  top: 0;
}
.menu-icon span:last-of-type {
  bottom: 0;
}
.menu-icon.active span:first-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:first-of-type {
  transform: rotate(45deg);
  top: 5px;
}
.menu-icon.active span:last-of-type,
.menu-icon .menu-icon__cheeckbox:checked + div span:last-of-type {
  transform: rotate(-45deg);
  bottom: 5px;
}
.menu-icon.active:hover span:first-of-type, .menu-icon.active:hover span:last-of-type, .menu-icon:hover .menu-icon__cheeckbox:checked + div span:first-of-type, .menu-icon:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
  width: 22px;
}
@media (min-width: 1024px) {
  .menu-icon:hover span:first-of-type {
    width: 26px;
  }
  .menu-icon:hover span:last-of-type {
    width: 12px;
  }
}

@media (max-width: 750px) {
  .menu-icon {
    margin: 2% !important;
  }
}
.menuBackground {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.203);
  background-color: rgba(0, 0, 0, 0.24);
}

main {
  min-height: 100vh;
  padding-top: 150px;
}

.rippedPhoto {
  margin-top: 5vw;
  width: 100%;
  height: 40vw;
}

.rippedPaper {
  width: 99.4vw;
  position: relative;
  z-index: 10;
}

.rippedPaperContainer {
  height: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
}

@media (max-width: 1030px) {
  .rippedPaper {
    width: 100%;
  }
}
.spaceCarousel {
  height: 850px;
}

footer {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.679), transparent);
  height: 150px;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://storage.googleapis.com/webdesignledger.pub.network/LaT/edd/2016/02/tan-antique-vintage-paper-texture-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.textClickAnim {
  transition: transform 150ms;
}
.textClickAnim:hover {
  transform: scale(105%);
}
.textClickAnim:active {
  transform: scale(95%);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #303030 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #303030;
  border-radius: 10px;
  border: 3px solid #000000;
}

/*# sourceMappingURL=styles.css.map */
