/* Font - HandWritten */
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap");
header {
  background-image: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.479));
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  padding: 0 2.5%;
  position: absolute;
}
header .headerLinks {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  width: 75%;
}
header .headerLinks a {
  margin: 0 20px;
  text-decoration: none;
  font-family: "AliensAndCows", cursive;
  color: black;
  font-size: 3rem;
}

.headerLogo {
  width: 200px;
  height: 200px;
}

.headerLinksResponsive {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  margin-top: 40px;
}
.headerLinksResponsive a {
  margin: 0 20px;
  text-decoration: none;
  font-family: "AliensAndCows", cursive;
  color: black;
  font-size: 2rem;
}
.headerLinksResponsive .headerLogo {
  height: 110px;
}

@media (max-width: 950px) {
  header .headerLinks {
    display: none;
  }
  .headerLinksResponsive {
    display: flex;
  }
  .rippedCarousel {
    margin-top: 40px;
  }
}
@media (max-width: 560px) {
  .headerLinksResponsive,
.headerText {
    display: none;
  }
  .headerLogo {
    height: 100px;
  }
  .headerLinks {
    display: flex !important;
    width: 100% !important;
  }
  .menu-icon {
    display: inline-block !important;
  }
  .rippedCarousel {
    margin-top: 0 !important;
  }
}
@media (max-width: 320px) {
  header {
    height: 100px;
  }
  .headerLogo {
    height: 60px;
    width: auto;
  }
}
.menu-icon {
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: rgb(0, 0, 0);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

#menuBackground {
  position: fixed;
  z-index: 99;
  overflow: hidden;
  background-color: rgba(255, 184, 146, 0.518);
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  animation-name: backgroundStart;
  animation-duration: 0.8s;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100vw;
}

#menuItems {
  display: flex;
  flex-direction: column;
  height: 75%;
  width: 25%;
  align-items: center;
  justify-content: center;
}
#menuItems a {
  font-size: 2.5vw;
  margin-bottom: 10vh;
  color: white;
  text-decoration: none !important;
}
#menuItems a:last-child {
  margin-bottom: 0;
}

@media (max-height: 600px) {
  #menuItems {
    flex-direction: row;
    width: 100%;
  }
  #menuItems a {
    margin-bottom: 0 !important;
    margin-right: 4vw !important;
    font-size: 3vw !important;
  }
  #menuItems a:last-of-type {
    margin-right: 0 !important;
  }
}
@media (max-width: 750px) {
  #menuItems {
    width: 50%;
  }
  #menuItemOption1 {
    font-size: 4.5vw !important;
    margin-bottom: 5vh !important;
  }
  #menuItemOption2 {
    font-size: 4.5vw !important;
    margin-bottom: 5vh !important;
  }
  #menuItemOption3 {
    font-size: 4.5vw !important;
    margin-bottom: 5vh !important;
  }
  #menuItemOption4 {
    font-size: 4.5vw !important;
    margin-bottom: 5vh !important;
  }
  #menuItemOption5 {
    font-size: 4.5vw !important;
    margin-bottom: 5vh !important;
  }
}
@media (max-width: 450px) {
  #menuItemOption1 {
    font-size: 11vw !important;
    margin-bottom: 4vh !important;
  }
  #menuItemOption2 {
    font-size: 11vw !important;
    margin-bottom: 4vh !important;
  }
  #menuItemOption3 {
    font-size: 11vw !important;
    margin-bottom: 4vh !important;
  }
  #menuItemOption4 {
    font-size: 11vw !important;
    margin-bottom: 4vh !important;
  }
  #menuItemOption5 {
    font-size: 11vw !important;
    margin-bottom: 4vh !important;
  }
}
/*animation start*/
#menuItemOption1 {
  animation-name: menuItemStart;
  animation-duration: 1.2s;
  font-family: "Work Sans", sans-serif;
  transition: transform 0.3s, text-shadow 0.3s;
}
#menuItemOption1:hover {
  transform: scale(110%);
  text-shadow: 0px 5px 10px rgba(39, 39, 39, 0.604);
  cursor: pointer;
}
@media (max-width: 1024px) {
  #menuItemOption1:hover {
    transform: scale(100%);
  }
}
#menuItemOption1:active {
  transform: scale(98%);
}

#menuItemOption2 {
  animation-name: menuItemStart;
  animation-duration: 1.4s;
  font-family: "Work Sans", sans-serif;
  transition: transform 0.3s, text-shadow 0.3s;
}
#menuItemOption2:hover {
  transform: scale(110%);
  text-shadow: 0px 5px 10px rgba(39, 39, 39, 0.604);
  cursor: pointer;
}
@media (max-width: 1024px) {
  #menuItemOption2:hover {
    transform: scale(100%);
  }
}
#menuItemOption2:active {
  transform: scale(98%);
}

#menuItemOption3 {
  animation-name: menuItemStart;
  animation-duration: 1.6s;
  font-family: "Work Sans", sans-serif;
  transition: transform 0.3s, text-shadow 0.3s;
}
#menuItemOption3:hover {
  transform: scale(110%);
  text-shadow: 0px 5px 10px rgba(39, 39, 39, 0.604);
  cursor: pointer;
}
@media (max-width: 1024px) {
  #menuItemOption3:hover {
    transform: scale(100%);
  }
}
#menuItemOption3:active {
  transform: scale(98%);
}

#menuItemOption4 {
  animation-name: menuItemStart;
  animation-duration: 1.8s;
  font-family: "Work Sans", sans-serif;
  transition: transform 0.3s, text-shadow 0.3s;
}
#menuItemOption4:hover {
  transform: scale(110%);
  text-shadow: 0px 5px 10px rgba(39, 39, 39, 0.604);
  cursor: pointer;
}
@media (max-width: 1024px) {
  #menuItemOption4:hover {
    transform: scale(100%);
  }
}
#menuItemOption4:active {
  transform: scale(98%);
}

#menuItemOption5 {
  animation-name: menuItemStart;
  animation-duration: 2s;
  font-family: "Work Sans", sans-serif;
  transition: transform 0.3s, text-shadow 0.3s;
}
#menuItemOption5:hover {
  transform: scale(110%);
  text-shadow: 0px 5px 10px rgba(39, 39, 39, 0.604);
  cursor: pointer;
}
@media (max-width: 1024px) {
  #menuItemOption5:hover {
    transform: scale(100%);
  }
}
#menuItemOption5:active {
  transform: scale(98%);
}

@keyframes menuItemStart {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}
@keyframes backgroundStart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
/*animation end*/
.menuBackgroundEnd {
  animation-name: menuBackgroundEnd !important;
  animation-duration: 0.5s !important;
}

.menuItemOptionEnd {
  animation-name: menuItemOptionEnd !important;
  animation-duration: 0.4s !important;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes menuBackgroundEnd {
  100% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}
@keyframes menuItemOptionEnd {
  0% {
    transform: translateY(0);
    opacity: 100;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}
main {
  min-height: 100vh;
  padding-top: 180px;
}

.rippedPhoto {
  width: 100%;
  z-index: -20;
}

.carouselpaper {
  position: relative;
  width: 100%;
  margin: 5% 0;
}

.rippedPaperTop, .rippedPaperBottom {
  position: absolute;
  width: 100%;
}

.tres {
  width: 100%;
}

.rippedPaperTop {
  top: -17%;
}

.rippedPaperBottom {
  bottom: -16%;
  left: 0;
}

@media (max-width: 560px) {
  main {
    padding-top: 140px;
  }
}
footer {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.679), transparent);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 10%;
}
footer img {
  height: 250px;
  margin: 24px;
}
footer div {
  position: relative;
}

.footerFirstText {
  margin: 0;
  color: black;
}
.footerFirstText:first-of-type {
  font-family: "Moraline", cursive;
  font-size: 4rem;
}
.footerFirstText:last-of-type {
  font-family: "AliensAndCows", cursive;
  font-size: 3rem;
  letter-spacing: 6.5px;
  position: relative;
  bottom: 39px;
}

.footerSocials {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 49px;
}
.footerSocials .social {
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0;
  margin-left: 5px;
  font-size: 2.5rem;
  font-family: "AliensAndCows", cursive;
}
.footerSocials .social svg {
  width: 35px;
  height: 35px;
}

@media (max-width: 750px) {
  .footerFirstText:first-of-type {
    font-size: 3rem;
  }
  .footerFirstText:last-of-type {
    font-size: 2rem;
    bottom: 32px;
  }
  .footerSocials {
    position: absolute;
    bottom: 0px;
  }
  footer img {
    height: 155px;
  }
  .social {
    font-size: 2rem !important;
  }
}
@media (max-width: 570px) {
  .footerFirstText:first-of-type {
    font-size: 2rem;
  }
  .footerFirstText:last-of-type {
    font-size: 1.5rem;
    bottom: 22px;
    letter-spacing: 3px;
  }
  footer {
    padding: 0;
  }
  footer img {
    height: 120px;
  }
  .social {
    font-size: 1.5rem !important;
  }
  .social svg {
    width: 20px !important;
  }
}
@media (max-width: 320px) {
  .footerFirstText:first-of-type {
    font-size: 1.7rem;
  }
  .footerFirstText:last-of-type {
    font-size: 1.2rem;
    bottom: 18px;
  }
  .footerSocials {
    bottom: -6px;
  }
  footer img {
    height: 85px;
    margin: 10px;
  }
  .social {
    font-size: 1.2rem !important;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.textClickAnim {
  transition: transform 150ms;
}
.textClickAnim:hover {
  transform: scale(105%);
}
.textClickAnim:active {
  transform: scale(95%);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #303030 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #303030;
  border-radius: 10px;
  border: 3px solid #000000;
}

@font-face {
  font-family: "Moraline";
  src: url("../assets/Moraline Script.otf");
}
@font-face {
  font-family: "AliensAndCows";
  src: url("../assets/aliens and cows.ttf");
}

/*# sourceMappingURL=styles.css.map */
